/* General styling */

.container {
  max-width: 600px;
}

.form-control:focus {
  box-shadow: none;
}

/* Header styling */

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
}

/* Form styling */

.form-label,
.form-control {
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-primary {
  font-weight: bold;
}

/* Modal styling */

.modal-content {

  border: none;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-body {
  text-align: center;
}

.modal-footer {
  justify-content: center;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-close:hover,
.btn-close:focus {
  background-color: transparent;
  opacity: 1;
}

.f-s {
  font-size: 9px; 
}

/* Footer styling */

footer {
  padding: 10px;
  background-color: #f5f5f5;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 576px) {
  .btn-primary {
    width: 100%;
    margin-top: 10px;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 80%;
  }
}